html {
    font-family: Calibri;
}


/* Header */
header {
    background-color: rgb(240, 241, 247);
}

.container-header-one {
    display: flex;
    padding: 4px;
    justify-content: center;
}

.header-logo {
    padding: 4px;
}

.header-program {
    font-size: 32px;
    font-weight: bold;
    padding: 4px;
    margin: 2px;
}

.container-header-two {
    display: flex;
    font-size: 24px;
    font-weight: light;
    padding-left: 8px;
    padding-bottom: 24px;
    justify-content: center;
}

.main-container {
    max-width: 2000px;
    margin: 20px auto;
}


/* Form and Result Display */
.container-form,
.container-result {
    margin: 12px auto;
    padding: 8px;
    box-sizing: border-box;
}

.form-title,
.result-title {
    font-size: 32px;
    font-weight: lighter;
    margin-bottom: 16px;
}


/* Form */
.form-prolog {
    line-height: 1.5;
    margin-bottom: 24px;
}

.form-input {
    background-color: rgb(242, 243, 245);
    font-weight: bold;
    padding: 12px;
    margin: 12px auto;
}

.gender-radio, .form-bar {
    margin-top: 8px;
    padding: 6px 0px;
}

.form-bar input {
    width: 100%;
    border: 0.5px solid lightgray;
    outline: 0.5px solid lightgray;
    padding: 6px 6px;
    font-family: calibri;
    font-size: 18px;
    box-sizing: border-box;
}

.form-bar input:focus {
    border: 2px solid skyblue;
    outline: 2px solid skyblue;
}

.form-bar input:hover {
    border: 2px solid skyblue;
}


/* Button in Form Display */
.form-button {
    display: flex;
}

.form-button button {
    margin-top: 36px;
    margin-right: 8px;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: 0px;
}

.button-special button {
    background-color: rgb(117, 190, 219);
    color: white;
    margin-top: 36px;
    margin-right: 8px;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: 0px;
}

.button-normal button {
    background-color: lightgray;
}


/* Feature Highlights */
.form-features p {
    margin-top: 32px;
}

.features-subtitle {
    font-size: 20px; 
}

/* Form Result */
.container-result {
    display: none;
}

/* Result Box */
.result-box {
    background-color: rgb(242, 243, 245);
    font-weight: bold;
    padding: 24px;
    margin: 12px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-category-one, .result-value, .result-category-two, .result-category-two-a, .button-result {
    width: 100%;
    font-weight: lighter;
    text-align: center;
}

.result-category-one {
    font-size: 24px;
}

.result-value {
    font-size: 72px;
}

.result-category-two {
    font-size: 24px;
    margin-top: 12px;
}

.result-category-two-a {
    font-size: 24px;
    margin-top: 6px;
}

.button-result button {
    background-color: rgb(117, 190, 219);
    color: white;
    margin-top: 16px;
    margin-bottom: 8px;
    margin-right: 8px;
    padding: 6px 16px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    border: 0px;
}

.result-details {
    margin-top: 32px;
}

.result-category-three,
.result-category-four,
.result-category-five,
.result-disclaimer {
    margin-top: 24px;
    padding-bottom: 12px;
}

.result-diseases {
    background-color: rgb(242, 243, 245);
    font-weight: bold;
    padding: 24px;
    margin: 12px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.result-category-six,
.result-category-seven,
.result-category-eight,
.result-category-nine,
.result-category-ten {
    width: 100%;
    font-weight: lighter;
    text-align: center;
}

.result-category-six {
    font-size: 24px;
}

.result-category-seven,
.result-category-eight,
.result-category-nine,
.result-category-ten {
    font-size: 20px;
}


/* Download in Play Store and App Store */
.download-option {
    padding: 24px;
    margin: 12px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.download-title,
.download-app {
    width: 100%;
    font-size: 24px;
    font-weight: lighter;
    text-align: center;
    margin: 6px auto;
    justify-content: center;
}

/* Responsive */
@media (min-width:600px) {
    .main-container {
        justify-content: space-between;
        display: flex;
    }
    .container-form,
    .container-result {
        width: 48%;
    }
}